---
layout: default
title: Projects
projects:
  - title: "Blue Poppy Project"
    url: "/projects/bluepoppy.html"
    image: "/assets/images/placeholder.jpg"
    text: "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem."

  - title: "Little Red Book Project"
    url: "/projects/littleredbook.html"
    image: "/assets/images/placeholder.jpg"
    text: "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem."

---

<div class="container px-5 pb-4 justify-content-center">
	<div class="row d-flex flex-wrap">
		<!-- General Section -->
		<div class="col-12"><section class="section py-4 mt-3">
			<h2 class="mb-4">Themed Projects</h2>
			<h4>Quick links</h4>
				<ul>
					{% for project in page.projects %}
					<li><a href="{{project.url}}">{{project.title}}</a></li>
					{% endfor %}
				</ul>
		</section></div>
  
		<!-- looping through all collections -->
		{% for project in page.projects %}
			{% include postcard.html 
				title = project.title 
				url = project.url
				text = project.text
				image_path = project.image
    		%}
		{% endfor %}
  
	</div>
</div>