---
layout: default
---

<div class="container"><div class="row">
	  
	<!-- Sidebar (Sticky) -->
	<div class="col-lg-3 col-md-4 mt-3 d-none d-sm-none d-md-block">
		<div class="sticky-sidebar section h-100">
			<div class="m-0 p-0 sticky-top pt-4">
				<h4 class="mb-3">Navigate</h4>
				<hr>
			<!-- <a href="#theatre">Theatre</a> -->
				<a href="#stained-glass">Stained Glass</a>
				<hr>
				<!-- <a href="#web-design">Web Design</a> -->
				<a href="#game-design">Game Design</a>
				<hr>
				<!-- <a href="#misc">Miscellaneous</a> -->
			</div>
		</div>
	</div>
  
	<!-- Main Content -->
	<div class="col-12 col-lg-9 col-md-8">
		<div class="row d-flex flex-wrap">
			<!-- General Section -->
			<div class="col-12"><section class="section py-4 mt-3">
				<h4 class="mb-4">Quick links</h4>
				<ul>
					<li><a href="/projects/glass_octopus.html">Cephalopod and Cranium</a></li>
					<li><a href="/projects/glass_poppy.html">Poppy Panel</a></li>
					<li><a href="/projects/glass_lamp.html">Little Lampshade</a></li>
				</ul>
			</section></div>
  
		<!-- Stained Glass Section -->
		<div class="col-12" id="stained-glass"><section class="section py-4 mt-3">
			<h2>Stained Glass</h2>
			{% include project_cards.html cards=page.projects%}
			<div class="row justify-content-start mt-3 g-3">
				<!-- octopus -->
				<div class="col-md-6 col-lg-4">
					<div class="card h-100">
						<div class="card-body">
							<h5><a href="/projects/glass_octopus.html">Cephalopod and Cranium</a></h5>
						</div>
						<img src="/assets/images/glass/octopus/final.jpg" class="img-fluid">
					</div>
				</div>
				<!-- poppy -->
				<div class="col-md-6 col-lg-4">
					<div class="card h-100">
						<div class="card-body">
							<h5><a href="/projects/glass_poppy.html">Poppy Panel</a></h5>
						</div>
						<img src="/assets/images/glass/poppy/final.jpg" class="img-fluid">
					</div>
				</div>
				<!-- lampshade -->
				<div class="col-md-6 col-lg-4">
					<div class="card h-100">
						<div class="card-body">
							<h5><a href="/projects/glass_lamp.html">Little Lampshade</a></h5>
						</div>
						<img src="/assets/images/glass/lamp/image.png" class="img-fluid">
					</div>
				</div>
			</div>
		</section> </div>

		<!-- game dev Section -->
		<div class="col-12" id="game-design"><section class="section py-4 mt-3">
			<h2>Game Design</h2>
			<div class="row justify-content-start mt-3 g-3">
				<!-- flappy mo -->
				<div class="col-md-6 col-lg-4">
					<div class="card h-100">
						<div class="card-body">
							<h5><a href="/projects/game_flappy.html">Flappy Mo</a></h5>
						</div>
						<img src="/assets/images/game/flappymo.png" class="img-fluid">
					</div>
				</div>
				

			</div>
		</section> </div>
  
	</div>
</div>
</div>